@page
@model WebApplication1.Pages.Sample1Model
@{
}
<div>
    <a href="http://www.microsoft.com">microsoft</a>&nbsp;&nbsp;    
    <a href="http://www.google.com">google</a><br/>
    <a href="http://www.microsoft.com">
        <img src="~/images/microsoft.jpg"/>&nbsp;&nbsp;
    </a>
</div>