@page
@model WebApplication1.Pages.Sample4Model
@{
    int number =35866;
    string result=" ";
    @if(number<10)
    {
        result = "number has one digit";
    }
    else if(number<100)
    {
        result = "number has two digit";
    }
    else if (number < 1000)
    {
        result = "number has three digit";
    }
    else if (number < 10000)
    {
        result = "number has four digit";
    }
    else if (number < 100000)
    {
        result = "number has five digit";
    }
    else  
    {
        result = "number has more than five digit";
    }

}
<div>
    <p>value of number is @number</p>
    <p>@result</p>
</div>